<main class="main-div">
  <section class="section-first">
    <div class="first-column">
      <p class="section-first-heading">My balance</p>
      <h3 class="total-money">$921.48</h3>
    </div>
    <div class="second-column">
      <svg style="transform: scale(0.7);" width="72" height="48" viewBox="0 0 72 48" xmlns="http://www.w3.org/2000/svg">
        <g fill="none" fill-rule="evenodd">
          <circle fill="#382314" cx="48" cy="24" r="24" />
          <circle stroke="#FFF" stroke-width="2" cx="24" cy="24" r="23" />
        </g>
      </svg>
    </div>
  </section>
  <section class="section-second">
    <h1 class="section-second-heading">Spending - Last 7 days</h1>
    <div style="padding: 15px;">
      <canvas id="barChart"></canvas>
    </div>

    <hr class="chart-separator">

    <div style="display: flex; justify-content: space-between;">
      <div>
        <p class="total-value-heading">Total this month</p>
        <p class="total-value">${{sumExpense}}</p>
      </div>
      <div style="margin-right: 20px; margin-top: 40px;">
        <p class="increment">+2.4%</p>
        <p class="increment-footer">from last month</p>
      </div>
    </div>
    
  </section>
</main>